[submodule "github.com/gorilla/context"]
	path = github.com/gorilla/context
	url = git@github.com:gorilla/context
[submodule "github.com/gorilla/mux"]
	path = github.com/gorilla/mux
	url = git@github.com:gorilla/mux
